{{#if (is-pending model.children)}}
  Aan het laden...
{{/if}}

{{#each (await sortedChildren) as |child|}}
  <div class="form__row form__row--{{child.displayType}}">
    <div class="form__label">
      <label class="form__label" form="orgaan">{{child.label}}</label>
    </div>
    {{#unless show}}
      {{edit-child model=child solution=solution class="form__input" show=show register=(action "registerChild" child)}}
{{else}}
      {{show-child model=child solution=solution class="form__input" show=show register=(action "registerChild" child)}}
    {{/unless}}
  </div>
{{/each}}

{{yield}}

<hr />
Form-node information:
{{#each childComponentInstances as |instance|}}
  inst
{{/each}}

<br />

Intersection states:
{{#each intersectionStates as |key|}}
  k {{key}}
{{/each}}

<br />

Union states:
{{#each unionStates as |key|}}
  k {{key}}
{{/each}}

<hr />
