{{#if allChildren.isRunning}}
  loading...
{{/if}}

{{#each (await sortedChildren) as |child|}}
    <div class="form__row">
      <div class="form__label">
        <label class="form__label" form="orgaan">{{child.label}}</label>
      </div>
      {{#unless show}}
        {{edit-child model=child solution=solution class="form__input" show=show}}
      {{else}}
         {{show-child model=child solution=solution class="form__input" show=show}}
      {{/unless}}
    </div>
  {{/each}}

{{yield}}
