{{#if (is-pending model.children)}}
  Aan het laden...
{{/if}}

{{#each (await sortedChildren) as |child|}}
    <div class="form__row form__row--{{child.displayType}}">
      <div class="form__label">
        <label class="form__label" form="orgaan">{{child.label}}</label>
      </div>
      {{#unless show}}
        {{edit-child model=child solution=solution class="form__input" show=show}}
      {{else}}
        {{show-child model=child solution=solution class="form__input" show=show}}
      {{/unless}}
    </div>
  {{/each}}

{{yield}}
